<div class="image-input">
  <p class="input-label">&nbsp;Add image to the board</p>
  <input [formControl]="imageInput">
  <button class="main-button" (click)="addImage()">Add</button>
</div>
<div>
  <p class="input-label"></p>
  <button class="transparent-button" (click)="showTags()">Run tagging API</button>
</div>
<div>
  <p class="input-label">Select an existing board</p>
  <select [formControl]="boardOptions" (change)="changeBoard()">
    <option *ngFor="let boardOption of boardsList" [selected]="board === boardOption">
      {{boardOption.title}}
    </option>
  </select>
</div>
<div>
  <p class="input-label"></p>
  <button class="transparent-button" mat-raised-button (click)="createCatalog()">Create a new catalog</button>
</div>

