<div class="wrapper">
  <div class="header">
    Photo Board
    <hr>
  </div>
  <app-tools [board]="board" [boardsList]="boardsList"
             (boardChanges)="changeBoard($event)" (boardsListChanges)="createCatalog($event)"
             [isTagShowed]="isTagShowed" (isTagShowedChanges)="isTagShowed = $event"
             (isImageAdding)="isImageAdding = $event">
  </app-tools>
  <app-board [board]="board" [isImageAdding]="isImageAdding" [isTagShowed]="isTagShowed"></app-board>
  <div class="bottom">
    <div>
      <button class="transparent-button" (click)="dismissChanges()">Dismiss Changes</button>
    </div>
    <div>
      <button class="main-button" (click)="saveBoard()">Save Board</button>
      <ng-container *ngIf="isBoardSaved">
        <p>Board's saved</p>
      </ng-container>
    </div>
  </div>
</div>
