<div class="wrapper">
  <div>
    Photo board
    <hr>
  </div>
  <div class="tools">
    <div>
      <label> Add image to the board
        <input [formControl]="imageInput">
      </label>
    </div>
    <div>
      <button>Add</button>
    </div>
    <div>
      <button>Run tagging API</button>
    </div>
    <div>
      <select>
        <option *ngFor="let boardOption of boardsList">{{boardOption.title}}</option>
      </select>
    </div>
    <div>
      <button>Create new board</button>
    </div>
  </div>
  <div class="images">

  </div>
  <div class="bottom">
    <div>
      <button>Dismiss changes</button>
    </div>
    <div>
      <button>Save Board</button>
    </div>
  </div>
</div>
